body{
	margin: 0;
	padding: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: sans-serif;
}

.board{
	position: relative;
	padding: 1vw;
	background: #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	width: 50vw;
	height: 50vw;
}

#game-board{
	display: none;
	z-index: 1;
}

.row{
	display: flex;
	justify-content: center;

}

.hole{
	position: relative;
	z-index: 3;
	margin: 1%;
	width: 14.666%;
	height: 14.666%;
	border-radius: 50%;

	background: white;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);

	display: flex;
	justify-content: center;
	align-items: center;

	color: rgba(255, 255, 255, 0);
	font-size: 4vw;
	transition: background .2s, transform .5s, color .5s, top .5s, left .5s, right .5s;
}

.hole:hover:not(.chosen):not(.black){
	cursor: pointer;
	background: #ccc;
}

.hole.chosen:hover{
	cursor: default;
}

.red{
	background: #e33;
}

.chosen{
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.blue{
	background: #33e;
}

@keyframes blackhole-pulse{
	0% { }
	50% {
		background: #445;
		/*transform: scale(2.2);*/
	}
	100% { }
}

.black{
	z-index: 2;
	background: #556;
	transform: scale(2.5);
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	/*animation: blackhole-pulse 6s .5s infinite ease-in-out;*/
}

#menu-board{
	display: table;
}

/*.menu-side{*/
	/*display: table-row;*/
	/*color: #555;*/
	/*font-size: 5vw;*/
	/*text-align: center;*/
/*}*/

.menu-side{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2vw;
	padding: 2vw;

	color: #fff;
	font-size: 5vw;
	text-align: center;
}

.menu-side div{
	display: flex;
}

.menu-side.blue{
	background: rgba(0, 0, 255, .5);
}

.menu-side.red{
	background: rgba(255, 0, 0, .5);
}

button{
	font-size: 5vw;
	background: teal;
	color: #fff;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	border-radius: .5vw;
	padding: 1vw;
	transition: box-shadow .2s;
	cursor: pointer;
}

button:hover{
	box-shadow: 1px 1px 7px rgba(0, 0, 0, .5);
}

input[type=radio]{
	display: none;
}

label{
	cursor: pointer;
	color: #bbb;
	background: white;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
	padding: 1vw;
	/*display: block;*/
}

input[type=radio]:checked + label{
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	color: white;
	background: teal;
}

.score{
	position: absolute;
	top: 0;
	margin: 5vw;
	padding: 2vw;
	color: white;
	font-size: 3vw;
	border-radius: .5vw;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	visibility: hidden;
}

#red-score{
	left: 0;
}

#blue-score{
	right: 0;
}

#winner-banner{
	z-index: 4;
	position: absolute;
	top: 1vw;
	left: 0;
	right: 0;
	margin: 10vw;
	color: white;
	text-align: center;
	font-size: 2vw;
	background: teal;
	opacity: 0;
	transition: opacity 5s;
}

.swing{
	box-shadow: inset 0 0 0 .5vw #fff;
}
